<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <!--<add name="ConnString" connectionString="Server=tcp:test-vl.database.windows.net,1433;Initial Catalog=test-vl;Persist Security Info=False;User ID=test-vl;Password=Paddu@123#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
  </connectionStrings>

</configuration>
